apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server-deployment
  labels:
    app: config-server-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-service-deployment
  template:
    metadata:
      labels:
        app: config-service-deployment
    spec:
      containers:
        - name: config-service
          image: pbust0sn/config-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8888
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8888
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8888
            initialDelaySeconds: 40
            periodSeconds: 15
            timeoutSeconds: 5
            failureThreshold: 3
          resources:
---
apiVersion: v1
kind: Service
metadata:
  name: config-server-service
  labels:
    app: config-server-service
spec:
  selector:
    app: config-service-deployment
  ports:
    - protocol: TCP
      port: 8888
      targetPort: 8888
  type: nodePort