server:
  port: 8081
spring:
  cloud:
    config:
      server:
        git:
          default-label: eval2-ms-advance
          uri: https://github.com/PBust0sN/Tingeso-2025-2
          search-paths: Evaluacion-2-Microservicios/config-data
  application:
    name: config-service
