apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway-service
  template:
    metadata:
      labels:
        app: gateway-service
    spec:
      containers:
        - name: gateway-service
          image: pbust0sn/gateway-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              value: http://eureka-service:8761/eureka/
            - name: SPRING_CLOUD_CONFIG_URI
              value: http://config-service:8081
            - name: EUREKA_INSTANCE_PREFER_IP_ADDRESS
              value: "true"
            - name: JAVA_TOOL_OPTIONS
              value: "-Xmx192m -Deureka.client.serviceUrl.defaultZone=http://eureka-service:8761/eureka/"
          resources:
            limits:
              memory: "256Mi"
            requests:
              memory: "200Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: gateway-service
spec:
  selector:
    app: gateway-service
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: LoadBalancer